extends layout

block content    
    h1.text-center About Us            
    p.aboutbyline.text-center Pimp your ride
    div.container                                            
        div.row
            div.col
                div.box
                    img(src="/images/logo.jpg" width="200px")
            div.col
                div.box
                    p Pimp_de_Ride is the name of the company. We are focused on pimping all sorts of vehicles ranging from small saloon cars all the way to long distane trucks.                    
            div.col
                div.box
                    p We offer pimping servcies right by the press of button where we come to where you are. We have well trained and educated engineers and creative personel who are responsible for the hands on job.
                    p We sell customised car parts too.        
        div.row
            h4 You can find us via:
            ul
                li
                    a(href="https://www.instagram.com/?hl=en")
                        i.fab.fa-instagram 
                        span=" "
                        span Instagram              
                li
                    a(href="https://twitter.com/login?lang=en")
                        i.fab.fa-twitter
                        span=" "
                        span Twitter
                li
                    a(href="https://www.facebook.com/")
                        i.fab.fa-facebook
                        span=" "
                        span Facebook
                li
                    a(href="mailto: peter_mirithu@yahoo.com")
                        i.far.fa-envelope
                        span=" "
                        span Email
                
        
        
