extends layout
block content

  // Page Content
  .page-heading.about-heading.header-text
    .container
      .row
        .col-md-12
          .text-content
            h4 about us
            h2 our company
  .best-features.about-features
    .container
      .row
        .col-md-12
          .section-heading
            h2 Our Background
        .col-md-6
          .right-image
            img(src='https://images.unsplash.com/photo-1470723710355-95304d8aece4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80' alt='')
        .col-md-6
          .left-content
            h4 Who we are &amp; What we do?
            p We are a company that have invested heavily on car customising and also invested on our employees skills and doing all types of work concerning your car modification.
            p We believe in perfection and efficient serving of our customers.            
            br
            br              
            ul.social-icons
              li
                a(href='#')
                  i.fa.fa-facebook
              li
                a(href='#')
                  i.fa.fa-twitter
              li
                a(href='#')
                  i.fa.fa-linkedin
              li
                a(href='#')
                  i.fa.fa-behance
  .team-members
    .container
      .row
        .col-md-12
          .section-heading
            h2 Our Team Members
        .col-md-4
          .team-member
            .thumb-container
              img(src='/images/team/man1.png' alt='')
              .hover-effect
                .hover-content
                  ul.social-icons
                    li
                      a(href='#')
                        i.fa.fa-facebook
                    li
                      a(href='#')
                        i.fa.fa-twitter
                    li
                      a(href='#')
                        i.fa.fa-linkedin
                    li
                      a(href='#')
                        i.fa.fa-behance
            .down-content
              h4 Pyra              
              span CEO & Software Developer
              p I am a professional Software Developer and best Code Debugger you would ever find.

        .col-md-4
          .team-member
            .thumb-container
              img(src='/images/team/woman.png' alt='')
              .hover-effect
                .hover-content
                  ul.social-icons
                    li
                      a(href='#')
                        i.fa.fa-facebook
                    li
                      a(href='#')
                        i.fa.fa-twitter
                    li
                      a(href='#')
                        i.fa.fa-linkedin
                    li
                      a(href='#')
                        i.fa.fa-behance
            .down-content
              h4 Cathie
              span Manager & Front-end Developer
              p I am a Front-end Developer and good at UI and UX Designing.
        .col-md-4
          .team-member
            .thumb-container
              img(src='/images/team/man2.png' alt='')
              .hover-effect
                .hover-content
                  ul.social-icons
                    li
                      a(href='#')
                        i.fa.fa-facebook
                    li
                      a(href='#')
                        i.fa.fa-twitter
                    li
                      a(href='#')
                        i.fa.fa-linkedin
                    li
                      a(href='#')
                        i.fa.fa-behance
            .down-content
              h4 Kevin Brayn
              span Project Manager & Back-end Developer
              p I am Back-end Developer and good at RESTful api application and Database management.                      
  .services
    .container
      .row
        .col-md-4
          .service-item
            .icon
              i.fa.fa-gear
            .down-content
              h4 Car Pimping
              p Comes with a team of ten members well equiped and with personal equipments needed for pimping.                
              a With Martin.k as Lead Engineer
        .col-md-4
          .service-item
            .icon
              i.fa.fa-gear
            .down-content
              h4 Full System Diagnosis
              p Your car gets to be fully diagonised including all computer systems in car the checked and repaired with immediate effect.                
              a With Leah.T as Lead Mechatronix Engineer 
        .col-md-4
          .service-item
            .icon
              i.fa.fa-gear
            .down-content
              h4 Car Tuning
              p Get your car tuned in all parts. Includes engine,exhaust,brakes and overall car operation.                
              a With Maximillan Jeror as Lead Engineer
  .happy-clients
    .container
      .row
        .col-md-12
          .section-heading
            h2 Our Esteemed Partners
        .col-md-12
          .owl-clients.owl-carousel
            .client-item
              img(src='/images/services/bmw.jpg' alt='1')
            .client-item
              img(src='/images/services/merc.jpg' alt='2')
            .client-item
              img(src='/images/services/mist.png' alt='3')
            .client-item
              img(src='/images/services/toyota.gif' alt='4')
            .client-item
              img(src='/images/services/honda.jpg' alt='5')
            .client-item
              img(src='/images/services/must.png' alt='6')
          p
            b Swipe