extends layout---2
block content
  .page-heading.contact-heading.header-text
    .container
      .row
        .col-md-12
          .text-content
            h4 contact us
            h2 let&rsquo;s get in touch
  .find-us
    .container
      .row
        .col-md-12
          .section-heading
            h2 Our Location on Maps
        .col-md-8
          //
            How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
          #map
            iframe(src='https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed' width='100%' height='330px' frameborder='0' style='border:0' allowfullscreen='')
        .col-md-4
          .left-content
            h4 About our office
            p
              | Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur similiqu consectetur.
              br
              br
              | Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti.
            ul.social-icons
              li
                a(href='#')
                  i.fa.fa-facebook
              li
                a(href='#')
                  i.fa.fa-twitter
              li
                a(href='#')
                  i.fa.fa-linkedin
              li
                a(href='#')
                  i.fa.fa-behance
  .send-message
    .container
      .row
        .col-md-12
          .section-heading
            h2 Send us a Message
        .col-md-8
          .contact-form
            form#contact(action='' method='post')
              .row
                .col-lg-12.col-md-12.col-sm-12
                  fieldset
                    input#name.form-control(name='name' type='text' placeholder='Full Name' required='')
                .col-lg-12.col-md-12.col-sm-12
                  fieldset
                    input#email.form-control(name='email' type='text' placeholder='E-Mail Address' required='')
                .col-lg-12.col-md-12.col-sm-12
                  fieldset
                    input#subject.form-control(name='subject' type='text' placeholder='Subject' required='')
                .col-lg-12
                  fieldset
                    textarea#message.form-control(name='message' rows='6' placeholder='Your Message' required='')
                .col-lg-12
                  fieldset
                    button#form-submit.filled-button(type='submit') Send Message
        .col-md-4
          ul.accordion
            li
              a Accordion Title One
              .content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur similiqu consectetur.
                  br
                  br
                  | Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti elite.
            li
              a Second Title Here
              .content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur similiqu consectetur.
                  br
                  br
                  | Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti elite.
            li
              a Accordion Title Three
              .content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur similiqu consectetur.
                  br
                  br
                  | Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti elite.
            li
              a Fourth Accordion Title
              .content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur similiqu consectetur.
                  br
                  br
                  | Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti elite.
  .happy-clients
    .container
      .row
        .col-md-12
          .section-heading
            h2 Our Happy Customers
        .col-md-12
          .owl-clients.owl-carousel
            .client-item
              img(src='assets/images/client-01.png' alt='1')
            .client-item
              img(src='assets/images/client-01.png' alt='2')
            .client-item
              img(src='assets/images/client-01.png' alt='3')
            .client-item
              img(src='assets/images/client-01.png' alt='4')
            .client-item
              img(src='assets/images/client-01.png' alt='5')
            .client-item
              img(src='assets/images/client-01.png' alt='6')

