extends layout
block content
  .page-heading.contact-heading.header-text
    .container
      .row
        .col-md-12
          .text-content
            h4 contact us
            h2 let&rsquo;s get in touch
  .find-us
    .container
      .row
        .col-md-12
          .section-heading
            h2 Our Location on Maps
        .col-md-8
          //
            How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below          
          #map
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21950.548780063717!2d36.809329927708845!3d-1.2872392805076027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f10d08f55777f%3A0x91924d2ab0af0482!2sKenyatta%20Avenue%20Uhuru%20Highway%20Roundabout!5e0!3m2!1sen!2ske!4v1593184944503!5m2!1sen!2ske" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
        .col-md-4
          .left-content
            h4 About our office            
            p We are located just opposite the kenyatta round about almost a few steps away from Nyayo Center.
            p Our building is big bluish with grey strips.
            ul.social-icons
              li
                a(href='#')
                  i.fa.fa-facebook
              li
                a(href='#')
                  i.fa.fa-twitter
              li
                a(href='#')
                  i.fa.fa-linkedin
              li
                a(href='#')
                  i.fa.fa-behance

  .happy-clients
    .container
      .row
        .col-md-12
          .section-heading
            h2 Our Esteemed Partners
        .col-md-12
          .owl-clients.owl-carousel
            .client-item
              img(src='/images/services/bmw.jpg' alt='1')
            .client-item
              img(src='/images/services/merc.jpg' alt='2')
            .client-item
              img(src='/images/services/mist.png' alt='3')
            .client-item
              img(src='/images/services/toyota.gif' alt='4')
            .client-item
              img(src='/images/services/honda.jpg' alt='5')
            .client-item
              img(src='/images/services/must.png' alt='6')
          p
            b Swipe