html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title=error.status
        link(rel="shortcut icon" type="image" href="/images/logo.jpg")    
        link(rel="stylesheet", href="/stylesheets/errostyles.css")        
  
    body
        div#logo         
            a(href="/")
                img(src="/images/logo.jpg" alt="logo" style="border-radius:50%" width="100px")                
                h2(style="color:black") Pimp_de_Ride

        h1.text.floating.zoom
            span=error.status

        div.home(style="z-index:99;padding:10px;background:red")                
            a(href="/" style="color:black") HOME
  



