doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")    
    title= title
    block links
      link(rel="shortcut icon" type="image" href="/images/logo.jpg")    
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")        
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#header-wrapper
        div#header.container-fluid
          div#logo         
            a(href="#")
              img(src="/images/logo.jpg" alt="logo" style="border-radius:50%" width="100px")
              span BetMac 
          
          div#menu
            ul
              li.active
                a(href="/" accesskey="1" title="") Home
              li
                a(href="#" accesskey="2" title="") About Us              
              li
                a(href="#" accesskey="4" title="") Cart
              li
                a(href="#" accesskey="5" title="") Contact               

              if user
                li
                  a(href="/users/profile" accesskey="5" title="") Profile                  
                li
                  a(href="/users/logout" accesskey="5" title="") Sign Out  
              else
                li
                  a(href="/users/signin" accesskey="5" title="Sign In") Sign In                

    div.notification                                                 
      if successes
          for success in successes
              div.alert.alert-success #{ success }
      if errors
          for error, i in errors
              div.alert.alert-danger #{ error }
    
    block content
      
