extends layout
block append links    
    link(rel='stylesheet', href='/stylesheets/about.css')

block content    
    h1.text-center Services            
    p.aboutbyline.text-center Pimp your ride    
    div.container-fluid
        div.row
            div.column
                div.card
                    img(src="/images/homestuff/bwm.jpeg" alt="Jane" style="width:100%")
                    div.container
                        h2 Jane Doe
                        p.title CEO & Founder
                        p Some text that describes me lorem ipsum ipsum lorem.
                        p jane@example.com
                        p
                            button.button Contact    

            div.column
                div.card
                    img(src="/images/homestuff/ford.jpeg" alt="Jane" style="width:100%")
                    div.container
                        h2 Jane Doe
                        p.title CEO & Founder
                        p Some text that describes me lorem ipsum ipsum lorem.
                        p jane@example.com
                        p
                            button.button Contact

            div.column
                div.card
                    img(src="/images/homestuff/spoiler.jpeg" alt="Jane" style="width:100%")
                    div.container
                        h2 Jane Doe
                        p.title CEO & Founder
                        p Some text that describes me lorem ipsum ipsum lorem.
                        p jane@example.com
                        p
                            button.button Contact
                                                    