extends layout
block append links    
    link(rel='stylesheet', href='/stylesheets/about.css')

block content    
    h1.text-center Services            
    p.aboutbyline.text-center Pimp your ride    
    div.container-fluid
        div.wrap
            div.column(style="width:400px")
                div.card
                    img(src="/images/services/pimped.jpg" alt="pimped" style="width:100%")
                    div.container
                        h2 Car Pimping
                        p.title With Martin.k as Lead Engineer
                        p Comes with a team of ten members well equiped and with personal equipments needed for pimping.
                        p pimping_team@gmail.com
                        p
                            button.button Contact    

            div.column(style="width:400px")
                div.card
                    img(src="/images/services/system_daignostic.jpg" alt="system diagnosis" style="width:100%")
                    div.container
                        h2 Full System Diagnosis
                        p.title With Leah.T as Lead Mechatronix Engineer 
                        p Your car gets to be fully diagonised including all computer systems in car the checked and repaired with immediate effect.
                        p Installation of trackers is also done here
                        p system_team@gmail.com
                        p
                            button.button Contact

            div.column(style="width:400px")
                div.card
                    img(src="/images/services/exhaust.jpeg" alt="tuning" style="width:100%")
                    div.container
                        h2 Car Tuning
                        p.title With Maximillan Jeror as Lead Engineer
                        p Get your car tuned in all parts. Includes engine,exhaust,brakes and overall car operation.
                        p Installation of speed governors is also done here.
                        p tuning_team@gmail.com
                        p
                            button.button Contact
                                                    