extends layout
block append links    
    link(rel='stylesheet', href='/stylesheets/forms.css')

block content
    .page-heading.signup-heading.header-text
        .container
            .row
                .col-md-12
                    .text-content
                        h4 Sign Up
                        h2 Join Us for Exclusive Deals
                
    div.container-fluid        
        div.wrap
            div.column               
                h2.ml14
                    span.text-wrapper
                        span.letters This could be your car
                        span.line                    

                div.pic-ctn                                    
                    img(src="/images/homestuff/bwm.jpeg" alt="" width="200px"  class="pic")                                          
                    img(src="/images/homestuff/ford.jpeg" alt="" width="200px" class="pic")                     
                    img(src="/images/homestuff/interior.jpeg" alt="" width="200px" class="pic")                     
                    img(src="/images/homestuff/mustang.jpeg" alt="" width="200px" class="pic") 
                    img(src="/images/homestuff/spoiler.jpeg" alt="" width="200px" class="pic")                                             

                p(style="border-left: 2px solid #61BAAD;padding: 30px 50px 30px 30px;;") Plug in and get our services and products right at your door step with just a click of a button

            div.column               
                h1.text-center Sign Up
                form(method='POST' style="margin-left:15%;margin-right:15%;padding:10px;margin-bottom:5%" action='/users/register').form
                    #form-group
                        label User Name:
                        input.form-control(name='username',type='text' required)
                    #form-group
                        label Email:
                        input.form-control(name='email',type='email' required)
                    
                    #form-group
                        label Password:
                        input.form-control(name='password',type='password' required)    

                    #form-group
                        label Confirm Password:
                        input.form-control(name='password2',type='password' required)    
                    br
                    p By creating an account you agree to our 
                        span
                            a(href="#") Terms & Privacy.                        
                    br        
                    input.btn.btn-primary(type='submit',value='Submit')              


    .happy-clients
      .container
        .row
          .col-md-12
            .section-heading
              h2 Our Esteemed Partners
          .col-md-12
            .owl-clients.owl-carousel
              .client-item
                img(src='/images/services/bmw.jpg' alt='1')
              .client-item
                img(src='/images/services/merc.jpg' alt='2')
              .client-item
                img(src='/images/services/mist.png' alt='3')
              .client-item
                img(src='/images/services/toyota.gif' alt='4')
              .client-item
                img(src='/images/services/honda.jpg' alt='5')
              .client-item
                img(src='/images/services/must.png' alt='6')
            p
              b Swipe
    script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
    script.
        // Wrap every letter in a span
        var textWrapper = document.querySelector('.ml14 .letters');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({loop: true})
        .add({
            targets: '.ml14 .line',
            scaleX: [0,1],
            opacity: [0.5,1],
            easing: "easeInOutExpo",
            duration: 900
        }).add({
            targets: '.ml14 .letter',
            opacity: [0,1],
            translateX: [40,0],
            translateZ: 0,
            scaleX: [0.3, 1],
            easing: "easeOutExpo",
            duration: 800,
            offset: '-=600',
            delay: (el, i) => 150 + 25 * i
        }).add({
            targets: '.ml14',
            opacity: 0,
            duration: 1000,
            easing: "easeOutExpo",
            delay: 1000
        });
    