html{
  scroll-behavior: smooth;    
}
body{
  background: #EEF2F7;
}
a {
  color: #00B7FF;
}

/* header */
#header-wrapper{
		position: relative;
		padding: 5em 0em 0em 0em;
		background: #111111 url("https://images.unsplash.com/photo-1533106418989-88406c7cc8ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat center;
    background-size: cover;
    width: 100% !important;    
}
#header{
		position: relative;
    padding: 5em 0em 10em 0em;
}
/* logo */
#logo{
		position: absolute;
		top: 3.6em;
    left: 0;
}

#logo a{
  font-size: 2.6em;
  color: #79C255;
  text-decoration: none;
  color: rgba(255,255,255,1);
}

#menu{
  position: absolute;
  top: 4.5em;
  right: 0;
}

#menu ul{
  display: inline-block;
}

#menu li{
  display: block;
  float: left;
  text-align: center;
}

#menu li a, #menu li span{
  padding: 1em 1.5em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  color: rgba(255,255,255,0.80);
}

#menu .active a{
  background: #f3cc2f;
  border-radius: 6px;
  color: rgba(255,255,255,1);
  color: #3f0900;
}
#menu li a:hover{
  background: #f3cc2f;
  border-radius: 6px;
  color: rgb(0, 0, 0);  
}

#banner-wrapper{
  padding: 5em 0em;
  background: rgba(0,0,0,.8);
}

#banner{
  text-align: center;
}

#banner .title h2{
  font-size: 4em;
  color: #f3cc2f;
}

#banner .title .byline{
  font-size: 15px;
  color: white;
}

#banner .button{
  margin-top: 2em;
  padding: 1.40em 3em;
  border-radius: 6px;
  font-weight: 700;
  font-size: 1em;
  
}
	
.banner{
  margin-bottom: 5em;
}

/* drop down */
#btn-close-modal {
  width:100%;
  text-align: center;
  cursor:pointer;
  color:#fff;
}
#animatedModal{
  background-color: rgba(0,0,0,0.8);
}

/* navbar */
/* navbar */
.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;;
}

nav ul li a {
  text-decoration: none;
  color: orange;  
  font-size: 16px;
}

nav ul li a:hover{  
  color: red !important;    
}

@media(max-width: 786px) {

  .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
  }

  nav ul {
        max-height: 0px;
        background: #000;
  }

  nav.black ul {
        background: #000;
  }  

  nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;        
  }  
}

/* profile section */

.btncool {
  background-color: #f3cc2f;
  border-radius: 6px;
  padding:3%;
  color:black;
}

.btncool:hover {  
  background-color: black;
  color: #f3cc2f;  
}
.profilecard{
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)  
}
.moreofu{  
  padding: 30px 50px 30px 30px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-left: 2px solid rgb(255, 0, 85);
  margin-left: 10%;
}
